#about
h3 {
    font-weight:400 !important;
}


#projects
.btn-toolbar {
    justify-content: center;
}

.btn-toolbar {
    text-align: center;
    align-content: center;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

