h3 {
    font-weight:400 !important;
}
h2 {
    font-weight:700 !important;
}

h1 {
    font-weight:700 !important;
}

html {
	scroll-behavior: smooth;
}

#projects

.btn-toolbar {
    justify-content: center;
}

.btn-toolbar {
    text-align: center;
    align-content: center;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn-outline-primary {
    color: #198e9e;
    border-color: #198e9e;
}



